<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<li th:each="menu : ${menus}">
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o" th:class="${menu.icon}"></i>
                        <span class="nav-label" th:text="${menu.menuName}"> 一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li th:each="cmenu : ${menu.children}">
                            <a th:if="${#lists.isEmpty(cmenu.children)}" class="menuItem" th:href="@{${cmenu.url}}">
                                <i class="fa fa fa-bar-chart-o" th:class="${cmenu.icon}"></i>
                                <span class="nav-label" th:text="${cmenu.menuName}">二级菜单</span>
                            </a>
                            <a th:if="${not #lists.isEmpty(cmenu.children)}" href="#">
                                <i class="fa fa fa-bar-chart-o" th:class="${cmenu.icon}"></i>
                                <span class="nav-label" th:text="${cmenu.menuName}">二级菜单</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-third-level">
                                <li th:each="emenu : ${cmenu.children}">
                                    <a class="menuItem" th:href="@{${emenu.url}}">
                                        <i class="fa fa fa-bar-chart-o" th:class="${emenu.icon}"></i>
                                        <span class="nav-label" th:text="${emenu.menuName}">三级菜单</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
</body>
</html>